name: Latest Blog Posts Workflow
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://www.sanjusapkota.com.np/feeds/posts/default?alt=rss"
          max_post_count: 5
          template: "$newline- [ $title ]($url) ($date)"
          readme_path: "./README.md" # This tells the bot EXACTLY which file to fix
